@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #D9E8F5;
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: white;
    width: 50vw;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 7px 7px 4px #b1d4f3;
}

nav{
    padding: 0;
    margin: 0;
    background-color:#51AFD5;
    box-shadow: 7px 7px 4px #b1d4f3;
    height: 80px;
    width: 100%;
    border-radius: 20px;
}

nav ul{
    float: center;
    list-style: none;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

img.marker{
    width: 21vw;
    max-width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2{
    color:#91BED4;
}

h1.title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    background-color: #e4f1f8;
    font-size: clamp(10px,3.5vw,30px);
    width: max-content;
}

p{
    text-align: justify;
    color: #304269;
}

ul{
    color: #3d414d;
    list-style-image: url("/images/rocket-org.png");
}
a:visited,
strong{
    color:#1a63a8;
}
a:hover,
a.current{
    color: #B7F29B;
}

abbr{
    color: #eb9d7a;
    text-decoration: underline;
}